body {background-color:white;font:arial;font color:white}
h1{color:grey;}
#maindiv
{
    background-color:white;
    font color:black;
    width:300px;
    padding:20px;
    border radius:25px;
    text-align:center;


